{
  "presets": [
    "node6",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "public": "./public"
      }
    }]
  ],
  "retainLines": true
}
